<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>Bibioteca</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-light bg-light justify-content-between">
      <a href="/" class="navbar-brand">Biblioteca</a>
      <a href="/usuarioLivros" class="text text-info">Livros <svg xmlns="http://www.w3.org/2000/svg" width="20"
          height="20" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
          <path
            d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
        </svg></a>
      <a href="#" class="text text-info">Mais Procurados <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
          fill="currentColor" class="bi bi-journal" viewBox="0 0 16 16">
          <path
            d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
          <path
            d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
        </svg></a>
      <button type="button" class="btn btn-outline-primary primary" data-toggle="modal" data-target="#exampleModalCenter">
        Acesso de Administrador
      </button>
      <form action="/pesquisar" method="GET" class="form-inline">
        <input class="form-control mr-sm-2" type="search" name="pesquisa" placeholder="Encontre seu livro" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisa</button>
      </form>
    </nav>
  </header>
  <main>
    <br>
    <section class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <section class="modal-dialog modal-dialog-centered" role="document">
        <section class="modal-content">
          <section class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Faça Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </section>
          <!-- Modal com login para adm -->
          <section class="modal-body">
            <form method="POST">
              <div class="form-group">
                <label for="login">Login</label>
                <input type="text" name="login" class="form-control" id="login" aria-describedby="emailHelp"
                  placeholder="Login">
                <small id="emailHelp" class="form-text text-muted">Nunca compartilharemos seu e-mail com mais
                  ninguém</small>
              </div>
              <div class="form-group">
                <label for="senha">Senha</label>
                <input type="password" name="senha" class="form-control" id="senha" placeholder="Senha">
              </div>
              <button type="submit" name="acao" value="logar" class="btn btn-primary">Acessar</button>
            </form>
          </section>
          <section class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <!-- <button type="button" class="btn btn-primary">Entrar</button> -->
          </section>
        </section>
      </section>
    </section>
    <section class="container">
      <section class="jumbotron">
        <h1 class="display-4">Biblioteca</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptates omnis sunt possimus
          molestias, dignissimos quisquam provident veritatis excepturi, amet perspiciatis nulla, praesentium
          laborum magnam? Distinctio nihil earum similique vero animi laborum non autem dolore unde! Eius illo
          ullam laudantium, in natus aut cumque vero quae eveniet ex nemo inventore?
        </p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      </section>
    </section>
    <hr>
  </main>
  <footer class="container">
    <p class="float-right"><a href="#">Topo</a></p>
    <p>© 2020-2021 Company, Inc. · <a href="#">Biblioteca</a> · <a href="#">Terms</a></p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="validacaoB.js"></script>
</body>